<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd

">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software</string>
                    <key>url</key>
                    <string>https://adko-ss.github.io/ios-url-ss/cb821.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.kingsoft.powerwordBeta</string>
                <key>bundle-version</key>
                <string>8.2.4</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>金山词霸</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
